<div id="objective">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" [disabled]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title > Profile Summary </mat-panel-title>
          </mat-expansion-panel-header>
          <hr>
          <p><b>
            A motivated Master's student with a strong background in software development, adept at problem-solving and implementing practical projects. Aspiring to secure a challenging position that allows me to apply my academic knowledge and professional skills in the software industry.
          </b></p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
  