.projects-wrapper{
    margin-bottom: 5px;
    width: 70vw;
}
.projects-main-wrapper{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.projects-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
mat-expansion-panel-header{
    height: 2rem !important;
}