<div class="main-wrapper">
<div class="navigation">
    <ul>
      <!-- <li><a (click)="smoothScroll('header')">Header</a></li> -->
      <li><a (click)="smoothScroll('objective')">Objective</a></li>
      <li><a (click)="smoothScroll('education')">Education</a></li>
      <!-- <li><a (click)="smoothScroll('experience')">Experience</a></li> -->
      <li><a (click)="smoothScroll('internships')">Internships</a></li>
      <li><a (click)="smoothScroll('projects')">Projects</a></li>
      <li><a (click)="smoothScroll('skills')">Skills</a></li>
      <li><a (click)="smoothScroll('certifications')">Certifications</a></li>
      <li><a (click)="smoothScroll('hobbies')">Hobbies</a></li>
      <li><a (click)="smoothScroll('contact')">Contact</a></li>
      <li><a (click)="smoothScroll('footer')">Locate</a></li>
    </ul>
  </div>
  
  <div class="inner-wrapper">
    <app-header id="header"></app-header>
    <app-objective id="objective"></app-objective>
    <app-education id="education"></app-education>
    <app-experience id="experience"></app-experience>
    <app-interships id="internships"></app-interships>
    <app-projects id="projects"></app-projects>
    <app-skills id="skills"></app-skills>
    <app-certifications id="certifications"></app-certifications>
    <app-hobbies id="hobbies"></app-hobbies>
    <app-contact id="contact"></app-contact>
    <app-footer id="footer"></app-footer>
  </div>
  </div>